node_modules/
hexaScanHybrid/www/
src/styles/App.css
src/styles/Details.css
src/styles/colors.css
src/styles/commons.css
src/styles/index.css
src/styles/fonts.css
hexascan-cordova
src/styles/List.css
src/components/LoadIndicator/LoadIndicator.css
build
