@font-face {
  font-family: 'Lato';
  src: url("../../public/static/fonts/lato-regular.eot");
  src: url("../../public/static/fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("../../public/static/fonts/lato-regular.woff2") format("woff2"), url("../../public/static/fonts/lato-regular.woff") format("woff"), url("../../public/static/fonts/lato-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Icomoon';
  src: url("../../public/static/fonts/icomoon.eot");
  src: url("../../public/static/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../../public/static/fonts/icomoon.woff") format("woff"), url("../../public/static/fonts/icomoon.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

.Button, .App__header__Backbutton, .App__content .manualScan .ManualButton, .App__content .ScanButton {
  background-color: #0161c3;
  color: white;
  font-size: 15px;
  border: none;
  font-family: 'Lato';
  padding: 10px;
  padding-left: 3px;
  padding-right: 3px;
  text-transform: uppercase; }

.App {
  text-align: center;
  background-color: #FFF;
  min-height: 100%;
  font-family: 'Lato'; }

.App__header {
  font-family: 'Lato';
  font-size: 53px;
  background-color: #0161c3;
  height: 40px;
  padding: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: white; }

.App__header__title {
  display: inline;
  line-height: 1;
  padding-top: 14px; }

.App__header__Backbutton {
  display: inline;
  left: 0;
  float: left;
  line-height: 0.5; }

.App__header__Backbutton:before {
  content: "\ea38";
  font-family: "Icomoon";
  font-size: 43px;
  color: white; }

.App__content {
  padding: 5px;
  padding-top: 25px; }

.App__content .label {
  font-family: 'Lato';
  font-size: 14px;
  color: #0161c3;
  left: 0;
  padding-bottom: 1px;
  text-align: left; }

.App__content .manualScan {
  width: 100%; }

.App__content .manualScan .input {
  float: left;
  left: 0;
  height: 2rem;
  font-family: 'Lato';
  font-size: 14px;
  border: 1px solid #45b1f1;
  text-transform: uppercase;
  padding: 10px;
  padding-left: 5px;
  width: 72%; }

.App__content .manualScan .ManualButton {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 22%;
  font-family: "Icomoon"; }

.App__content .manualScan .ManualButton:before {
  content: "\e986";
  font-size: 22px; }

.App__content .ScanButton {
  position: absolute;
  width: 100%;
  height: 4em;
  bottom: 0;
  margin: 0;
  left: 0; }

.App__content .ScanButton:before {
  font-family: "Icomoon";
  content: '\e937';
  font-size: 22px;
  margin-right: 10px; }

.App .logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.hidden {
  display: none; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
