@import 'colors.scss';
@import 'fonts.scss';
@import 'commons.scss';


.App {
    text-align: center;
    background-color:#FFF;
    min-height:100%;
    font-family:'Lato';
    &__header {
        @include title();

        background-color: $blue1;
        height:40px;
        padding: 20px;
        padding-bottom: 10px;
        text-transform:uppercase;
        font-weight:bold;
        color: white;
        &__title{
            display:inline;
            line-height: 1;
            padding-top:14px;
        }
        &__Backbutton{
            @extend .Button;
            display:inline;
            left:0;
            float:left;
            line-height: 0.5;
            &:before{
                content:"\ea38";
                font-family:"Icomoon";
                font-size:43px;
                color:white
            }
        }
    }
    &__content{
        padding:5px;
        padding-top:25px;
        .label{
            @include labels();
            color:$blue1;
            left:0;
            padding-bottom:1px;
            text-align:left;
        }
        .manualScan{
            width:100%;
            .input{
                float:left;
                left:0;
                height: 2rem;
                font-family:'Lato';
                font-size:$inputSize;
                border:1px solid $blue2;
                text-transform:uppercase;
                padding:10px;
                padding-left:5px;
                width:72%;
            }
            .ManualButton{
                @extend .Button;
                padding-top:12px;
                padding-bottom:12px;
                width:22%;
                font-family:"Icomoon";
                &:before{
                    content:"\e986";
                    font-size:$iconSize
                }
            }
        }
        .ScanButton{
            @extend .Button;
            position:absolute;
            width:100%;
            height:4em;
            bottom:0;
            margin:0;
            left:0;
            &:before{
                font-family:"Icomoon";
                content:'\e937';
                font-size:$iconSize;
                margin-right:10px;
            }
        }
    }
    .logo{
        animation: App-logo-spin infinite 20s linear;
        height: 80px;
    }
}

.hidden{
    display:none;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
