@font-face {
  font-family: 'Lato';
  src: url("../../public/static/fonts/lato-regular.eot");
  src: url("../../public/static/fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("../../public/static/fonts/lato-regular.woff2") format("woff2"), url("../../public/static/fonts/lato-regular.woff") format("woff"), url("../../public/static/fonts/lato-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Icomoon';
  src: url("../../public/static/fonts/icomoon.eot");
  src: url("../../public/static/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../../public/static/fonts/icomoon.woff") format("woff"), url("../../public/static/fonts/icomoon.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../../public/static/fonts/lato-regular.eot");
  src: url("../../public/static/fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("../../public/static/fonts/lato-regular.woff2") format("woff2"), url("../../public/static/fonts/lato-regular.woff") format("woff"), url("../../public/static/fonts/lato-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Icomoon';
  src: url("../../public/static/fonts/icomoon.eot");
  src: url("../../public/static/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../../public/static/fonts/icomoon.woff") format("woff"), url("../../public/static/fonts/icomoon.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

.Button, .App__header__Backbutton, .App__content .manualScan .ManualButton, .App__content .ScanButton {
  font-family: 'Lato';
  background-color: #0161c3;
  color: white;
  border: none;
  padding: 10px;
  padding-left: 3px;
  padding-right: 3px;
  text-transform: uppercase; }

@media (min-width: 768px) and (max-width: 1023px) {
  .Button, .App__header__Backbutton, .App__content .manualScan .ManualButton, .App__content .ScanButton {
    font-size: 30px; } }

@media (min-width: 1024px) {
  .Button, .App__header__Backbutton, .App__content .manualScan .ManualButton, .App__content .ScanButton {
    font-size: 15px; } }

.App {
  text-align: center;
  background-color: #FFF;
  min-height: 100%;
  font-family: 'Lato'; }

.App__header {
  font-family: 'Lato';
  background-color: #0161c3;
  height: 40px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: white; }

@media (min-width: 768px) and (max-width: 1023px) {
  .App__header {
    font-size: 53px; } }

@media (min-width: 1024px) {
  .App__header {
    font-size: 53px; } }

.App__header__title {
  display: inline;
  line-height: 1;
  padding-top: 14px; }

.App__header__Backbutton {
  display: inline;
  left: 0;
  float: left;
  line-height: 0.5; }

.App__header__Backbutton:before {
  font-family: 'icomoon';
  content: "\ea38";
  color: white; }

@media (min-width: 768px) and (max-width: 1023px) {
  .App__header__Backbutton:before {
    font-size: 52px; } }

@media (min-width: 1024px) {
  .App__header__Backbutton:before {
    font-size: 22px; } }

.App__content {
  padding: 5px;
  padding-left: 15px; }

.App__content .label {
  font-family: 'Lato';
  color: #0161c3;
  margin-bottom: 1px;
  left: 0;
  padding-bottom: 1px;
  text-align: left; }

@media (min-width: 768px) and (max-width: 1023px) {
  .App__content .label {
    font-size: 25px; } }

@media (min-width: 1024px) {
  .App__content .label {
    font-size: 14px; } }

.App__content .value {
  margin-top: 1px;
  font-family: 'Lato'; }

@media (min-width: 768px) and (max-width: 1023px) {
  .App__content .value {
    font-size: 27px; } }

@media (min-width: 1024px) {
  .App__content .value {
    font-size: 14px; } }

.App__content .manualScan {
  width: 100%; }

.App__content .manualScan .input {
  float: left;
  left: 0;
  font-family: 'Lato';
  border: 1px solid #45b1f1;
  text-transform: uppercase;
  padding: 10px;
  padding-left: 5px;
  height: 55px;
  width: 72%; }

@media (min-width: 768px) and (max-width: 1023px) {
  .App__content .manualScan .input {
    font-size: 27px; } }

@media (min-width: 1024px) {
  .App__content .manualScan .input {
    font-size: 14px; } }

.App__content .manualScan .ManualButton {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 22%; }

.App__content .manualScan .ManualButton:before {
  content: "\e986";
  font-family: 'icomoon'; }

@media (min-width: 768px) and (max-width: 1023px) {
  .App__content .manualScan .ManualButton:before {
    font-size: 52px; } }

@media (min-width: 1024px) {
  .App__content .manualScan .ManualButton:before {
    font-size: 22px; } }

.App__content .ScanButton {
  position: absolute;
  width: 100%;
  height: 4em;
  bottom: 0;
  margin: 0;
  left: 0; }

.App__content .ScanButton:before {
  font-family: 'icomoon';
  content: '\e937';
  margin-right: 15px; }

@media (min-width: 768px) and (max-width: 1023px) {
  .App__content .ScanButton:before {
    font-size: 52px; } }

@media (min-width: 1024px) {
  .App__content .ScanButton:before {
    font-size: 22px; } }

.App .logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.hidden {
  display: none; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
