@import 'colors.scss';
@import 'fonts.scss';
@import 'commons.scss';


.App {
    text-align: center;
    background-color:#FFF;
    min-height:100%;
    &__header {

        background-color: $blue1;
        height:40px;
        padding: 20px;
        text-transform:uppercase;
        font-weight:bold;
        color: white;
        &__title{
            @include title();
            display:inline;
            line-height: 1;
            padding-top:14px;
        }
        &__Backbutton{
            @extend .Button;
            display:inline;
            left:0;
            float:left;
            line-height: 0.5;
            &:before{
                @include iconText();
                content:"\ea38";
                color:white;
            }
        }
    }
    &__content{
        padding:5px;
        padding-left: 15px;
        .label{
            @include labels();
            color:$blue1;
            margin-bottom:1px;
            left:0;
            padding-bottom:1px;
            text-align:left;
        }
        .value{
            margin-top:1px;
            @include inputText();

        }
        .manualScan{
            width:100%;
            .input{
                float:left;
                left:0;
                @include inputText();
                border:1px solid $blue2;
                text-transform:uppercase;
                padding:10px;
                padding-left:5px;
                @media only screen
                and (min-device-width: 768px)
                and (max-device-width: 1024px)
                and (-webkit-min-device-pixel-ratio: 1) {
                    height: 55px;
                }
                /* Portrait and Landscape */
                @media only screen
                and (min-device-width: 320px)
                and (max-device-width: 767px)
                and (-webkit-min-device-pixel-ratio: 2) {
                    height: 26px;
                }
                width:72%;
            }
            .ManualButton{
                @extend .Button;
                padding-top:12px;
                padding-bottom:12px;
                width:22%;
                &:before{
                    content:"\e986";
                    @include iconText();
                }
            }
        }
        .List{
            margin-top:30px;
            padding-left:0px;
            .ListHeader{
                @include subTitle();
            }
            .ListItem{
                width:97%;
                background-color:$blue2;
                border:1px solid $blue2;
                @include inputText();
                margin-top:2px;
                margin-bottom:2px;
                padding-top:20px;
                padding-bottom:20px;

                &:after{
                    @include iconText();
                    content:"\e9ad";
                    float:right;
                    margin-right:10px;
                    color:$blue1;
                }
            }
        }
        .ScanButton{
            @extend .Button;
            position:absolute;
            width:100%;
            height:4em;
            bottom:0;
            margin:0;
            left:0;
            &:before{
                @include iconText();
                content:'\e937';
                margin-right:15px;
            }
        }
    }
    .logo{
        animation: App-logo-spin infinite 20s linear;
        height: 80px;
    }
}

.hidden{
    display:none;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
