@import 'colors.scss';
@import 'fonts.scss';
@import 'commons.scss';

.Details{
    &__mainInfo{
        /* Portrait and Landscape */
        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (-webkit-min-device-pixel-ratio: 1) {
            margin:10px;
            padding:30px;
        }
        /* Portrait and Landscape */
        @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 767px)
        and (-webkit-min-device-pixel-ratio: 2) {
            margin:10px;
        }
        overflow:hidden;

        &__productImage img{
            width: 25%;
            display: block;
            /* Portrait and Landscape */
            @media only screen
            and (min-device-width: 768px)
            and (max-device-width: 1024px)
            and (-webkit-min-device-pixel-ratio: 1) {
                margin: 20px;
                margin-left: 50px;
                float:left;
            }
            /* Portrait and Landscape */
            @media only screen
            and (min-device-width: 320px)
            and (max-device-width: 767px)
            and (-webkit-min-device-pixel-ratio: 2) {
                width: 100px;
                float: left;
            }
        }
        &__dataContainer{
            /* Portrait and Landscape */
            @media only screen
            and (min-device-width: 768px)
            and (max-device-width: 1024px)
            and (-webkit-min-device-pixel-ratio: 1) {
                float:right;
                margin-right: 60px;
            }

            /* Portrait and Landscape */
            @media only screen
            and (min-device-width: 320px)
            and (max-device-width: 767px)
            and (-webkit-min-device-pixel-ratio: 2) {
                float:right;
            }

            .Field{
                @media only screen
                and (min-device-width: 768px)
                and (max-device-width: 1024px)
                and (-webkit-min-device-pixel-ratio: 1) {
                    padding:10px;
                    width:250px;
                    height:50px;
                    margin:20px;
                }
                /* Portrait and Landscape */
                @media only screen
                and (min-device-width: 320px)
                and (max-device-width: 767px)
                and (-webkit-min-device-pixel-ratio: 2) {
                    padding:10px;
                    width:150px;
                    height:40px;
                }
            }
        }
    }
    &__descripcion{
        margin:10px;
        margin-top: 0px;

        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (-webkit-min-device-pixel-ratio: 1) {
            height: 120px;
        }
        /* Portrait and Landscape */
        @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 767px)
        and (-webkit-min-device-pixel-ratio: 2) {
            height: 100px;
        }

        .value{
            border:1px solid $blue2;
            padding:20px;
        }
    }
    &__form{
        background-color:$blue3;
        padding:20px;
        margin: 10px;
        &__title{
            @include inputText();
            width:100%;
        }
        &__titleForm{
            @include subTitle();
            margin-top: 0px;
            margin-bottom: 10px;
            line-height: 1;
            @media only screen
            and (min-device-width: 768px)
            and (max-device-width: 1024px)
            and (-webkit-min-device-pixel-ratio: 1) {
                height: 50px;
            }
            /* Portrait and Landscape */
            @media only screen
            and (min-device-width: 320px)
            and (max-device-width: 767px)
            and (-webkit-min-device-pixel-ratio: 2) {
                height: 30px;
            }
        }
        &__textAreaTitle,
        &__titleLabel{
            @include labels();
            text-align:left;
            margin-top:10px;
            margin-bottom:10px;
            color:$blue1;
        }

        &__descripcion{
            @include inputText();
            resize:none;
            width:100%;
            >.value{
                border:1px solid $blue2;
                height:30px;
            }
        }
        &__submitButton{
            @extend .Button;
            margin-top:5px;
            background-color:$blue1;
            width: 101%;
        }
    }
}
