$fontsPath: "../../public/static/fonts";
@font-face {
    font-family: 'Lato';
    src: url('#{$fontsPath}/lato-regular.eot');
    src: url('#{$fontsPath}/lato-regular.eot?#iefix') format('embedded-opentype'),
    url('#{$fontsPath}/lato-regular.woff2') format('woff2'),
    url('#{$fontsPath}/lato-regular.woff') format('woff'),
    url('#{$fontsPath}/lato-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Icomoon';
    src: url('#{$fontsPath}/icomoon.eot');
    src: url('#{$fontsPath}/icomoon.eot?#iefix') format('embedded-opentype'),
    url('#{$fontsPath}/icomoon.woff') format('woff'),
    url('#{$fontsPath}/icomoon.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
// font sizes Phones
$phonetitleSize: 33px;
$phonesubTitleSize: 23px;
$phonelabelSize:12px;
$phoneinputSize:15px;
$phoneiconSize:22px;
$phoneButtonSize:20px;

// font sizes DESKTOP
$titleSize: 53px;
$subTitleSize: 33px;
$labelSize:14px;
$inputSize:14px;
$iconSize:22px;
$ButtonSize:15px;


// font size Ipad
$IpadtitleSize: 53px;
$IpadlabelSize:25px;
$IpadsubTitleSize: 43px;
$IpadinputSize:27px;
$IpadiconSize:52px;
$IpadButtonSize:30px;


$phone: "(min-width: 320px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";

@mixin title(){
    font-family:'Lato';
    @media #{$phone} {
        font-size:$phonetitleSize;
    }
    @media #{$tablet} {
        font-size:$IpadtitleSize;
    }
    @media #{$desktop} {
        font-size:$titleSize;
    }
}
@mixin labels(){
    font-family:'Lato';

    @media #{$phone} {
        font-size:$phonelabelSize;
    }
    @media #{$tablet} {
        font-size:$IpadlabelSize;
    }
    @media #{$desktop} {
        font-size:$labelSize;
    }
}

@mixin inputText(){
    font-family:'Lato';

    @media #{$phone} {
        font-size:$phoneinputSize;
    }
    @media #{$tablet} {
        font-size:$IpadinputSize;
    }
    @media #{$desktop} {
        font-size:$inputSize;
    }
}

@mixin subTitle(){
    font-family:'Lato';

    @media #{$phone} {
        font-size:$phonesubTitleSize;
    }
    @media #{$tablet} {
        font-size:$IpadsubTitleSize;
    }
    @media #{$desktop} {
        font-size:$subTitleSize;
    }
}

@mixin buttonText(){
    font-family:'Lato';
    @media #{$phone} {
        font-size:$phoneButtonSize;
    }
    @media #{$tablet} {
        font-size:$IpadButtonSize;
    }
    @media #{$desktop} {
        font-size:$ButtonSize;
    }
}

@mixin iconText(){
    font-family:'icomoon';

    @media #{$phone} {
        font-size:$phoneiconSize;
    }
    @media #{$tablet} {
        font-size:$IpadiconSize;
    }
    @media #{$desktop} {
        font-size:$iconSize;
    }

}
