@font-face {
  font-family: 'Lato';
  src: url("../../public/static/fonts/lato-regular.eot");
  src: url("../../public/static/fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("../../public/static/fonts/lato-regular.woff2") format("woff2"), url("../../public/static/fonts/lato-regular.woff") format("woff"), url("../../public/static/fonts/lato-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Icomoon';
  src: url("../../public/static/fonts/icomoon.eot");
  src: url("../../public/static/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../../public/static/fonts/icomoon.woff") format("woff"), url("../../public/static/fonts/icomoon.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../../public/static/fonts/lato-regular.eot");
  src: url("../../public/static/fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("../../public/static/fonts/lato-regular.woff2") format("woff2"), url("../../public/static/fonts/lato-regular.woff") format("woff"), url("../../public/static/fonts/lato-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Icomoon';
  src: url("../../public/static/fonts/icomoon.eot");
  src: url("../../public/static/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../../public/static/fonts/icomoon.woff") format("woff"), url("../../public/static/fonts/icomoon.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

.Button, .modal .modal-form .button {
  font-family: 'Lato';
  background-color: #0161c3;
  color: white;
  border: none;
  padding: 10px;
  padding-left: 3px;
  padding-right: 3px;
  text-transform: uppercase; }
  @media (min-width: 320px) and (max-width: 767px) {
    .Button, .modal .modal-form .button {
      font-size: 20px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .Button, .modal .modal-form .button {
      font-size: 30px; } }
  @media (min-width: 1025px) {
    .Button, .modal .modal-form .button {
      font-size: 15px; } }

.modal {
  background-color: rgba(69, 177, 241, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
  .modal .modal-form {
    height: 60%;
    margin: 30px;
    padding: 10px;
    background-color: white; }
    .modal .modal-form .title {
      font-family: 'Lato';
      text-align: left;
      margin-top: 10px;
      margin-bottom: 10px;
      color: #0161c3; }
      @media (min-width: 320px) and (max-width: 767px) {
        .modal .modal-form .title {
          font-size: 12px; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .modal .modal-form .title {
          font-size: 25px; } }
      @media (min-width: 1025px) {
        .modal .modal-form .title {
          font-size: 14px; } }
    .modal .modal-form .input {
      font-family: 'Lato';
      width: 100%; }
      @media (min-width: 320px) and (max-width: 767px) {
        .modal .modal-form .input {
          font-size: 15px; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .modal .modal-form .input {
          font-size: 27px; } }
      @media (min-width: 1025px) {
        .modal .modal-form .input {
          font-size: 14px; } }
    .modal .modal-form .description {
      font-family: 'Lato';
      resize: none;
      width: 100%; }
      @media (min-width: 320px) and (max-width: 767px) {
        .modal .modal-form .description {
          font-size: 15px; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .modal .modal-form .description {
          font-size: 27px; } }
      @media (min-width: 1025px) {
        .modal .modal-form .description {
          font-size: 14px; } }
      .modal .modal-form .description > .value {
        border: 1px solid #45b1f1;
        height: 30px; }
    .modal .modal-form .button {
      margin-top: 5px;
      background-color: #0161c3;
      width: 101%; }
    .modal .modal-form > .content {
      padding: 10px; }
